{% extends "base.html" %} {% block title %}Scavenger Hunt{% endblock %} {% block content
    %}

    <br>
    <div class="form-bubble">
      <form method="POST">
        <h3 align="center">Scavenger Hunt</h3>
        <div class="form-group">
            <label for="hint1">Hint #1</label>
            <input
              type="text"
              class="form-control"
              id="hint1"
              name="hint1"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint2">Hint #2</label>
            <input
              type="text"
              class="form-control"
              id="hint2"
              name="hint2"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint3">Hint #3</label>
            <input
              type="text"
              class="form-control"
              id="hint3"
              name="hint3"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint4">Hint #4</label>
            <input
              type="text"
              class="form-control"
              id="hint4"
              name="hint4"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint5">Hint #5</label>
            <input
              type="text"
              class="form-control"
              id="hint5"
              name="hint5"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint6">Hint #6</label>
            <input
              type="text"
              class="form-control"
              id="hint6"
              name="hint6"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint7">Hint #7</label>
            <input
              type="text"
              class="form-control"
              id="hint7"
              name="hint7"
              placeholder="Enter hint"
            />
          </div>
        <hr>
        <button id="unlock" type="submit" class="btn btn-success"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg"><path d="M249.2 224c-14.2-40.2-55.1-72-100.2-72-57.2 0-101 46.8-101 104s45.8 104 103 104c45.1 0 84.1-31.8 98.2-72H352v64h69.1v-64H464v-64H249.2zm-97.6 66.5c-19 0-34.5-15.5-34.5-34.5s15.5-34.5 34.5-34.5 34.5 15.5 34.5 34.5-15.5 34.5-34.5 34.5z"></path></svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg"><path d="M832 464h-68V240c0-70.7-57.3-128-128-128H388c-70.7 0-128 57.3-128 128v224h-68c-17.7 0-32 14.3-32 32v384c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V496c0-17.7-14.3-32-32-32zM540 701v53c0 4.4-3.6 8-8 8h-40c-4.4 0-8-3.6-8-8v-53a48.01 48.01 0 1 1 56 0zm152-237H332V240c0-30.9 25.1-56 56-56h248c30.9 0 56 25.1 56 56v224z"></path></svg></button>
      </form>
    </div>
{% endblock %}