{% extends "base.html" %} {% block title %}Scavenger Hunt{% endblock %} {% block content
    %}

    <br>
    <div class="form-bubble">
      <form method="POST">
        <h3 align="center">Scavenger Hunt</h3>
        <div class="form-group">
            <label for="hint1">Hint #1</label>
            <input
              type="text"
              class="form-control"
              id="hint1"
              name="hint1"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint2">Hint #2</label>
            <input
              type="text"
              class="form-control"
              id="hint2"
              name="hint2"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint3">Hint #3</label>
            <input
              type="text"
              class="form-control"
              id="hint3"
              name="hint3"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint4">Hint #4</label>
            <input
              type="text"
              class="form-control"
              id="hint4"
              name="hint4"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint5">Hint #5</label>
            <input
              type="text"
              class="form-control"
              id="hint5"
              name="hint5"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint6">Hint #6</label>
            <input
              type="text"
              class="form-control"
              id="hint6"
              name="hint6"
              placeholder="Enter hint"
            />
          </div>
          <div class="form-group">
            <label for="hint7">Hint #7</label>
            <input
              type="text"
              class="form-control"
              id="hint7"
              name="hint7"
              placeholder="Enter hint"
            />
          </div>
        <hr>
        <button type="submit" class="btn btn-success">Unlock Page</button>
      </form>
    </div>
{% endblock %}