{% extends "base.html" %}
{% block title %}{{ user.user_name }}{% endblock %}

{% block content %}
<h1 style="text-align: center; color: white;">Haley's Gallery</h1><hr>



    <!-- <img src="../static/media/1.jpg" alt="">
    <img src="../static/media/2.jpg" alt="">
    <img src="../static/media/3.jpg" alt="">
    <img src="../static/media/4.jpg" alt="">
    <img src="../static/media/5.jpg" alt="">
    <img src="../static/media/7.jpg" alt="">
    <img src="../static/media/8.jpg" alt="">
    <img src="../static/media/9.jpg" alt="">
    <img src="../static/media/10.jpg" alt="">
    <img src="../static/media/11.jpg" alt="">
    <img src="../static/media/12.jpg" alt="">
    <img src="../static/media/13.jpg" alt="">
    <img src="../static/media/14.jpg" alt="">
    <img src="../static/media/15.jpg" alt="">
    <img src="../static/media/16.jpg" alt="">
    <img src="../static/media/17.jpg" alt="">
    <img src="../static/media/18.jpg" alt="">
    <img src="../static/media/19.jpg" alt="">
    <img src="../static/media/20.jpg" alt=""> -->
{% endblock %}